<!DOCTYPE html>

<!-- cspell: ignore Linuxblr -->

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <script src="/js/linkify.js"></script>
    <style>
      body {
        font-family: monospace;
        background-color: #000;
        color: #fff;
      }
      a {
        color: #8ff;
      }
      a:visited {
        color: #aaf;
      }
    </style>
  </head>
  <body>
    <h1><a href="https://linuxblr.github.io/">Linuxblr</a></h1>
    <section>
    {{ content }}
    </section>
    <footer>
      <p>
        This site is open source and awaits your contributions.
        <a href="https://github.com/linuxblr/linuxblr.github.io">GitHub Repo Link.</a>
      </p>
    </footer>
  </body>
</html>